node_red_flow.txt
[{"id":"2d231aba.7f66f6","type":"tab","label":"Flow 1","disabled":false,"info":"MQTT Dashboard"},{"id":"accfc3fe.3cdb5","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"f9b199d1.88af98","type":"ui_group","z":"","name":"Group3","tab":"accfc3fe.3cdb5","disp":false,"width":"6"},{"id":"a87a08af.d5c768","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"411e81d2.adbdd","type":"mqtt-broker","z":"","broker":"blichersvej28.asuscomm.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d35375ed.df6f28","type":"ui_group","z":"","name":"Group2","tab":"accfc3fe.3cdb5","disp":false,"width":"6"},{"id":"ce006f45.26828","type":"ui_group","z":"","name":"Group1","tab":"accfc3fe.3cdb5","disp":false,"width":"6"},{"id":"329d733e.30f02c","type":"function","z":"2d231aba.7f66f6","name":"","func":"var o = msg.payload;\nmsg.payload = o.Data ;\nreturn msg;","outputs":1,"noerr":0,"x":488,"y":129,"wires":[["ccf73590.527698","2af6782b.024ed8"]]},{"id":"e8c0f210.3379d","type":"switch","z":"2d231aba.7f66f6","name":"","property":"payload.Device","propertyType":"msg","rules":[{"t":"eq","v":"Device1","vt":"str"},{"t":"eq","v":"Device2","vt":"str"},{"t":"eq","v":"Device3","vt":"str"}],"checkall":"true","outputs":3,"x":284,"y":134,"wires":[["329d733e.30f02c","72b459b3.550f48"],["20aa99e7.e80736","7c7871a4.4a78b"],["6cbe0275.72b73c","43a2c439.a1f83c"]]},{"id":"f5abb7f2.6bcea8","type":"json","z":"2d231aba.7f66f6","name":"","pretty":false,"x":165,"y":142,"wires":[["e8c0f210.3379d"]]},{"id":"20aa99e7.e80736","type":"function","z":"2d231aba.7f66f6","name":"","func":"var o = msg.payload;\nmsg.payload = o.Data ;\nreturn msg;","outputs":1,"noerr":0,"x":559,"y":270,"wires":[["6add058b.c4902c","80fe6fb3.5f034"]]},{"id":"6cbe0275.72b73c","type":"function","z":"2d231aba.7f66f6","name":"","func":"var o = msg.payload;\nmsg.payload = o.Data ;\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":372,"wires":[["5d81c7d9.a0dc08","4a6478db.a7c6c8"]]},{"id":"72b459b3.550f48","type":"ui_text","z":"2d231aba.7f66f6","group":"ce006f45.26828","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload.Type}}:{{msg.payload.Units}}","layout":"col-center","x":672,"y":57,"wires":[]},{"id":"ded5ba31.f19a28","type":"mqtt in","z":"2d231aba.7f66f6","name":"","topic":"Device1","qos":"2","broker":"411e81d2.adbdd","x":65,"y":37,"wires":[["f5abb7f2.6bcea8"]]},{"id":"ccf73590.527698","type":"ui_gauge","z":"2d231aba.7f66f6","name":"","group":"ce006f45.26828","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":"50.0","colors":["#ffff80","#00ff80","#ca3838"],"seg1":"10.0","seg2":"30.0","x":675,"y":99,"wires":[]},{"id":"7c7871a4.4a78b","type":"ui_text","z":"2d231aba.7f66f6","group":"d35375ed.df6f28","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload.Type}}:{{msg.payload.Units}}","layout":"col-center","x":694,"y":207,"wires":[]},{"id":"80fe6fb3.5f034","type":"ui_gauge","z":"2d231aba.7f66f6","name":"","group":"d35375ed.df6f28","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{msg.payload.data.value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"200","seg2":"800","x":698,"y":247,"wires":[]},{"id":"6add058b.c4902c","type":"ui_chart","z":"2d231aba.7f66f6","name":"","group":"d35375ed.df6f28","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":694,"y":293,"wires":[[],[]]},{"id":"43a2c439.a1f83c","type":"ui_text","z":"2d231aba.7f66f6","group":"f9b199d1.88af98","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload.Type}}:{{msg.payload.Units}}","layout":"col-center","x":702,"y":408,"wires":[]},{"id":"5d81c7d9.a0dc08","type":"ui_gauge","z":"2d231aba.7f66f6","name":"","group":"f9b199d1.88af98","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"200","seg2":"800","x":694,"y":458,"wires":[]},{"id":"4a6478db.a7c6c8","type":"ui_chart","z":"2d231aba.7f66f6","name":"","group":"f9b199d1.88af98","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":698,"y":502,"wires":[[],[]]},{"id":"2af6782b.024ed8","type":"ui_chart","z":"2d231aba.7f66f6","name":"","group":"ce006f45.26828","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":143,"wires":[[],[]]},{"id":"7a76012a.c7def","type":"mqtt in","z":"2d231aba.7f66f6","name":"","topic":"Device1","qos":"2","broker":"411e81d2.adbdd","x":88,"y":592,"wires":[["39a12eaa.61d072"]]},{"id":"39a12eaa.61d072","type":"trigger","z":"2d231aba.7f66f6","op1":"\"CONNECTED\"","op2":"\"DISCONNECTED\"","op1type":"str","op2type":"str","duration":"30","extend":true,"units":"s","reset":"","name":"","x":360,"y":586,"wires":[["7ee93f76.6de33","5665242d.d3479c"]]},{"id":"7ee93f76.6de33","type":"ui_text","z":"2d231aba.7f66f6","group":"ce006f45.26828","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":679,"y":591,"wires":[]},{"id":"24b98bc3.65cb74","type":"mqtt in","z":"2d231aba.7f66f6","name":"","topic":"Device2","qos":"2","broker":"411e81d2.adbdd","x":75,"y":233,"wires":[["f5abb7f2.6bcea8"]]},{"id":"94b6969a.04bb88","type":"mqtt in","z":"2d231aba.7f66f6","name":"","topic":"Device3","qos":"2","broker":"411e81d2.adbdd","x":78,"y":279,"wires":[["f5abb7f2.6bcea8"]]},{"id":"b57d3de6.ddb6","type":"mqtt in","z":"2d231aba.7f66f6","name":"","topic":"Device2","qos":"2","broker":"411e81d2.adbdd","x":85,"y":659,"wires":[["4cfdab91.cbd8e4"]]},{"id":"4cfdab91.cbd8e4","type":"trigger","z":"2d231aba.7f66f6","op1":"\"CONNECTED\"","op2":"\"DISCONNECTED\"","op1type":"str","op2type":"str","duration":"30","extend":true,"units":"s","reset":"","name":"","x":357,"y":653,"wires":[["4fc7d57b.11f75c","dea6f750.70bfe8"]]},{"id":"4fc7d57b.11f75c","type":"ui_text","z":"2d231aba.7f66f6","group":"d35375ed.df6f28","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":676,"y":658,"wires":[]},{"id":"42791a7c.0aa914","type":"mqtt in","z":"2d231aba.7f66f6","name":"","topic":"Device3","qos":"2","broker":"411e81d2.adbdd","x":85,"y":729,"wires":[["59774d47.598a34"]]},{"id":"59774d47.598a34","type":"trigger","z":"2d231aba.7f66f6","op1":"\"CONNECTED\"","op2":"\"DISCONNECTED\"","op1type":"str","op2type":"str","duration":"30","extend":true,"units":"s","reset":"","name":"","x":358,"y":722,"wires":[["2ab84a37.b3ffa6","3f078d2d.b17b32"]]},{"id":"2ab84a37.b3ffa6","type":"ui_text","z":"2d231aba.7f66f6","group":"f9b199d1.88af98","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":676,"y":731,"wires":[]},{"id":"e4e9c1c4.a26ec","type":"inject","z":"2d231aba.7f66f6","name":"","topic":"","payload":"\"DISCONNECTED\"","payloadType":"str","repeat":"","crontab":"","once":true,"x":331,"y":494,"wires":[["7ee93f76.6de33","4fc7d57b.11f75c","2ab84a37.b3ffa6"]]},{"id":"dea6f750.70bfe8","type":"ui_toast","z":"2d231aba.7f66f6","position":"top right","displayTime":"5","highlight":"green","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":717,"y":694,"wires":[]},{"id":"3f078d2d.b17b32","type":"ui_toast","z":"2d231aba.7f66f6","position":"top right","displayTime":"5","highlight":"green","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":720,"y":770,"wires":[]},{"id":"5665242d.d3479c","type":"ui_toast","z":"2d231aba.7f66f6","position":"top right","displayTime":"5","highlight":"green","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":716,"y":625,"wires":[]}]